﻿@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/*
###########################
General Formatting
###########################
*/
body 
{ 
    background-color: #1a1a1a !important; /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    background-repeat: no-repeat;*/
} 

h1, h2, h3, h4, h5, h6 
{
  font-family: 'Droid Sans', sans-serif;
}
p, div 
{
  font-family: 'Droid Sans', sans-serif;
}

html 
{
  overflow-y: scroll;
}

hr
{
  border-color: #3c3c3c;
}

/*
###########################
Thumbnail Formatting
###########################
*/
.thumbnail 
{
  border: 2px solid #3c3c3c;
  border-bottom: 2px solid #33B5E5;
  background: #3c3c3c;
  border-radius: 0 0 0 0;
      -webkit-transition: none;
  -o-transition: none;
  transition: none;
  padding: 2px;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active 
{
  border-color: #33B5E5;
  text-decoration:none;
}

.thumbnail .caption {
  padding: 8px;
  color: white
}
.box-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0), 0 3px 1px -2px rgb(0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgb(0, 0, 0), 0 3px 3px -2px rgb(0, 0, 0), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgb(0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .75), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
  box-shadow: 0 8px 10px 1px rgb(0, 0, 0), 0 3px 14px 2px rgb(0, 0, 0), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
  box-shadow: 0 16px 24px 2px rgb(0, 0, 0), 0 6px 30px 5px rgb(0, 0, 0), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

/*
###########################
Nav Formatting
###########################
*/
.nav-pills > li > a 
{
  background-image: none;
  filter: none;
  border: solid 1px rgba(0,0,0,0);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.nav-pills > li > a:hover 
{
  background-image: none;
  filter: none;
  border: solid 1px #33B5E5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus 
{
  color: white;
  background-color: #33B5E5;
  background-image: none;
  border-radius: 0;
}

.navbar-brand
{
  /*height:100px;*/
  background-image: url(http://i1383.photobucket.com/albums/ah317/BeebDB/bdblogo2c_zpsdw0c0iew.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color:#33B5E5;
  width: 170px;
}

.navbar-fixed-top 
{
  background:#33B5E5;
}

/*
###########################
Carousel Formatting
###########################
*/

.carousel 
{
  margin-bottom: 0;
}

.carousel-inner
{
}

.carousel-control 
{
  width:3%;
}

.carousel-control.left, 
.carousel-control.right 
{
  background-image: none;
  font-size:72px;
  top:42%;
  line-height:16%;
}

.carousel-inner img {
  margin: auto;
  border: 4px solid #3c3c3c;
}

.carousel-control:hover,
.carousel-control:focus {
  outline: 0;
  color: #33B5E5;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.well
{
  border: 0;
  border-radius: 0;
  background-color: rgba(0,0,0,0);
  padding-top: 2px;
  padding-bottom: 4px;
}

/*
###########################
Tooltip Formatting
###########################
*/

.tooltip.right .tooltip-inner 
{
  background-color:#33B5E5;
}
.tooltip.right .tooltip-arrow 
{
  border-right-color: #33B5E5;
}
