﻿@model BeebDB.beebgame

@{
  ViewBag.Title = "Details";
}

<div>
  <h2 style="color:#33B5E5">@Html.DisplayFor(model => model.title) (@Html.DisplayFor(model => model.year))</h2>
</div>

<div>
  <hr />
  <div class="col-xs-12">
    <div class="well">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row" style="padding:8px">
              <div class="col-sm-4">
                <a href="#x"><img src="http://i1383.photobucket.com/albums/ah317/BeebDB/nopicture_zpsnqyqwnlt.png " alt="Image" class="img-responsive box-shadow--4dp"></a>
              </div>
              <div class="col-sm-4">
                <a href="#x"><img src="http://i1383.photobucket.com/albums/ah317/BeebDB/nopicture_zpsnqyqwnlt.png " alt="Image" class="img-responsive box-shadow--4dp"></a>
              </div>
              <div class="col-sm-4">
                <a href="#x"><img src="http://i1383.photobucket.com/albums/ah317/BeebDB/nopicture_zpsnqyqwnlt.png " alt="Image" class="img-responsive box-shadow--4dp"></a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row" style="padding:8px">
              <div class="col-sm-4">
                <a href="#x"><img src="http://i1383.photobucket.com/albums/ah317/BeebDB/nopicture_zpsnqyqwnlt.png" alt="Image" class="img-responsive box-shadow--4dp"></a>
              </div>
              <div class="col-sm-4">
                <a href="#x"><img src="http://i1383.photobucket.com/albums/ah317/BeebDB/nopicture_zpsnqyqwnlt.png " alt="Image" class="img-responsive box-shadow--4dp"></a>
              </div>
              <div class="col-sm-4">
                <a href="#x">
                  <img src="http://placehold.it/320x256" alt="Image" class="img-responsive box-shadow--4dp">
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row" style="padding:8px">
              <div class="col-sm-4">
                <a href="#x"><img src="http://i1383.photobucket.com/albums/ah317/BeebDB/nopicture_zpsnqyqwnlt.png" alt="Image" class="img-responsive box-shadow--4dp"></a>
              </div>
              <div class="col-sm-4">
                <a href="#x"><img src="http://placehold.it/320x256" alt="Image" class="img-responsive box-shadow--4dp"></a>
              </div>
              <div class="col-sm-4">
                <a href="#x">
                  <img src="http://placehold.it/320x256" alt="Image" class="img-responsive box-shadow--4dp">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <hr style="margin: 0; padding-top:18px" />
    </div>
  </div>
  <div class="col-xs-12">
    <dl class="dl-horizontal col-xs-6">
      <dt>
        @Html.DisplayNameFor(model => model.title)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.title)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.year)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.year)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.developer)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.developer)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.publisher)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.publisher)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.genre)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.genre)
      </dd>
    </dl>
    <dl class="dl-horizontal col-xs-6">
      <dt>
        @Html.DisplayNameFor(model => model.players)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.players)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.year)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.year)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.developer)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.developer)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.publisher)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.publisher)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.genre)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.genre)
      </dd>
    </dl>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <hr style="margin: 0; padding-top:8px" />
    </div>
  </div>
  <h4 style="color:#33B5E5">Game Profile</h4>
  <p style="padding:0 20px 0 20px">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exerci ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <p style="padding:0 20px 0 20px">
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
  <p style="padding:0 20px 0 20px">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
  <div class='row'>
    <div class='col-xs-12'>
      <hr />
    </div>
  </div>
  <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.game_id }) |
    @Html.ActionLink("Back to List", "Index")
  </p>

  @section Scripts
{
    <script>
      $('#myCarousel').carousel({
        interval: 0
      })

      $('#myCarousel').on('slid.bs.carousel', function () {
        //alert("slid");
      });
    </script>
  }
