﻿@model IEnumerable<BeebDB.beebgame>

@{
  ViewBag.Title = "Index";
}
<br>
<ul class="nav nav-pills nav-justified" data-toggle="button" id="letterNav">
  <li id="search#"><a href="#" onClick="updateSearch('#')">#</a></li>
  <li id="searcha"><a href="#" onClick="updateSearch('a')">A</a></li>
  <li id="searchb"><a href="#" onClick="updateSearch('b')">B</a></li>
  <li id="searchc"><a href="#" onClick="updateSearch('c')">C</a></li>
  <li id="searchd"><a href="#" onClick="updateSearch('d')">D</a></li>
  <li id="searche"><a href="#" onClick="updateSearch('e')">E</a></li>
  <li id="searchf"><a href="#" onClick="updateSearch('f')">F</a></li>
  <li id="searchg"><a href="#" onClick="updateSearch('g')">G</a></li>
  <li id="searchh"><a href="#" onClick="updateSearch('h')">H</a></li>
  <li id="searchi"><a href="#" onClick="updateSearch('i')">I</a></li>
  <li id="searchj"><a href="#" onClick="updateSearch('j')">J</a></li>
  <li id="searchk"><a href="#" onClick="updateSearch('k')">K</a></li>
  <li id="searchl"><a href="#" onClick="updateSearch('l')">L</a></li>
  <li id="searchm"><a href="#" onClick="updateSearch('m')">M</a></li>
  <li id="searchn"><a href="#" onClick="updateSearch('n')">N</a></li>
  <li id="searcho"><a href="#" onClick="updateSearch('o')">O</a></li>
  <li id="searchp"><a href="#" onClick="updateSearch('p')">P</a></li>
  <li id="searchq"><a href="#" onClick="updateSearch('q')">Q</a></li>
  <li id="searchr"><a href="#" onClick="updateSearch('r')">R</a></li>
  <li id="searchs"><a href="#" onClick="updateSearch('s')">S</a></li>
  <li id="searcht"><a href="#" onClick="updateSearch('t')">T</a></li>
  <li id="searchu"><a href="#" onClick="updateSearch('u')">U</a></li>
  <li id="searchv"><a href="#" onClick="updateSearch('v')">V</a></li>
  <li id="searchw"><a href="#" onClick="updateSearch('w')">W</a></li>
  <li id="searchx"><a href="#" onClick="updateSearch('x')">X</a></li>
  <li id="searchy"><a href="#" onClick="updateSearch('y')">Y</a></li>
  <li id="searchz"><a href="#" onClick="updateSearch('z')">Z</a></li>
</ul>
<hr />
<div id="gameContainer" class="container col-xs-12">
  <div class="control-group">
    <input type="text" class="search" placeholder="Search" id="search" />
    <a href="#">
      <span class="glyphicon glyphicon-question-sign" 
            data-toggle="tooltip" 
            data-placement="right"
            title="Search game title, year, publisher or genre.">
      </span>
    </a>
    <button type="button" class="btn btn-default btn-sm pull-right" onClick="resetSearch()">Reset All Filters</button>
  </div>
  <br />
  <ul class="list col-xs-12" style="list-style-type: none; text-align:center">
    @foreach (var item in Model)
    {
      <div class="col-lg-4 col-md-4 col-xs-12">
        <li style="display: inline">
          <a href="@Url.Action("Details", new { id = item.game_id })" class="thumbnail box-shadow--6dp">
            <img src="@Html.DisplayFor(modelItem => item.scrthumb)"
                 onmouseover="this.src = '@Html.DisplayFor(modelItem => item.scrhome)'"
                 onmouseout="this.src = '@Html.DisplayFor(modelItem => item.scrthumb)'"
                 class="img-responsive">
            <div class="caption text-center" id="captionText">
              <b style="color:#33B5E5" class="name">@Html.DisplayFor(modelItem => item.title)</b>
              <br /><span class="year">@Html.DisplayFor(modelItem => item.year)</span>
              <br /><span class="publisher">@Html.DisplayFor(modelItem => item.publisher)</span>
              <br /><span class="genre">@Html.DisplayFor(modelItem => item.genre)</span>
              @*<br />@Html.ActionLink("Edit", "Edit", new { id = item.game_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.game_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.game_id })*@
            </div>
          </a>
        </li>
      </div>
    }
  </ul>
  <div class="control-group col-xl-12 text-center">
    <div id="visibleitemslabel"></div>
    <ul class="pagination"></ul>
  </div>
</div>

<p>
  @Html.ActionLink("Create New", "Create")
</p>

@section scripts
{
  <script>
    function updateVisibleItemsLabel(newValue) {
      document.getElementById('visibleitemslabel').textContent = "Results returned: ".concat(newValue);
    }
  </script>

  <script>
    var pagingOptions =
    {
      innerWindow: 1,
      outerWindow: 1
    }
    var options =
    {
      valueNames: ['name', 'year', 'publisher', 'genre'],
      listClass: ['list'],
      page: 9,
      plugins: [
        ListPagination({})
      ]
    }

    var recordList = new List('gameContainer', options);

    var initialItems = recordList.items.length;
    updateVisibleItemsLabel(initialItems);
  </script>

  <script>
    function updateSearch(input) {
      var txt = input
      var listItemID = 'search'.concat(input)
      var buttonActive = document.getElementById(listItemID);
      var tbox = document.getElementById('search');

      if (tbox) {
        //tbox.value = txt;

        $(document.getElementById('letterNav').getElementsByTagName("li")).removeClass("active");
        buttonActive.className = 'active';
        tbox.value = "";
        tbox.placeholder = "Search within ".concat(input.toUpperCase());

        recordList.filter(function (item) {
          if (listItemID == 'search#') {
            if (!isNaN(item.values().name.charAt(0))) {
              return true;
            }
          }
          else if (item.values().name.charAt(0) == txt || item.values().name.charAt(0) == txt.toUpperCase()) {
            return true;
          }
          else {
            return false;
          }
        });

        recordList.search();
      }
    }
  </script>

  <script>
    function resetSearch() {
      document.getElementById('search').value = "";
      document.getElementById('search').placeholder = "Search";
      $(document.getElementById('letterNav').getElementsByTagName("li")).removeClass("active");

      recordList.filter();
      recordList.search();
    }
  </script>

  <script>
    recordList.on('updated', function (list) { updateVisibleItemsLabel(recordList.matchingItems.length) });
  </script>

  <script>
    $('[data-toggle="tooltip"]').tooltip();
  </script>
}
